*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html body
{
    position: relative;
    width: 100%;
    overflow-x: hidden;
}
img{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -3;
    width: 79vw;
    height: 52vw;
}
.orng_sec{
    background-color: rgba(255, 94, 0, 0.651);
    position: absolute;
    z-index: -2;
    padding-right: 55%;
    left: 6rem;
    padding-top: 66vw;
}
.bar1
{
    position:relative;
    left: 8rem;
    top: 1rem;
    height: 1rem;
    background-color: white;
    width: 90vw;
}
.bar2
{
    position:relative;
    left: 8rem;
    top: 2rem;
    height: 1rem;
    width: 7rem;
    background-color: white;
}
#top_sec {
    height: 30vw;
    margin-left: 8rem;
}
h1{
    top: 2rem;
    background: rgba(255, 94, 0, 0.651);
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: absolute;
    right: 4rem;
    border: 0.5rem solid;
    font-size: 3rem;
}
#top_sec h2 {
    width: 6rem;
    font-size: 6rem;
    font-weight: 900;
    margin-top: 2rem;
}
#top_sec h6 {
    margin-top: -2rem;
    margin-left: 4.9rem;
    font-size: 1.4rem;
}
#top_sec p {
    width: 28rem;
    margin-left: 2rem;
}
.cyan_sec {
    position: absolute;
    padding-left: 50vw;
    padding-top: 71vw;
    background-color: rgb(8 190 197 / 65%);
    right: 0;
}
.bottom_sec {
    margin-left: 8rem;
    padding-left: 2rem;
    border-left: 1rem solid white;
    margin-top: 2rem;
}
.headingf{
    z-index: -2;
}
#head1{
    font-size: 10rem;
    font-weight: 900;
}
#head2{
    font-size: 6rem;
    margin-top: -0.5em;
    font-weight: 100;
}
#head3{
    margin-top: -0.6em;
    font-size: 1.3rem;
    font-weight: 100;
}
span{
    padding-right: 2rem;
    font-weight: 900;
    font-size: 8rem;
}
#bottoml span
{
    font-size: 1.5rem;
    font-weight: 600;
}
#bottomr  .footer_content{
    height: 14rem;
    margin-right: 2rem;
    border-bottom: 0.2em solid rgb(8 190 197 / 65%);
}
.footer{
    padding-top: 5rem;
}
.footer img{
    max-width: 1rem;
}
#footl{
    margin-top: -1rem;
    height: 13rem;
    border-top: 0.2em solid #4f7b74;
    margin-right: 2rem;
}
a{
    font-size: 2rem;

}
a:link{color: white;}
a:visited{color: white;}